<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        content {
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            width: 80%;
            text-position: center;
        }
    </style>
</head>
<body>

    <content>
        <h1>Temporarily Down for Maintenance</h1>
        <p>We are performing scheduled maintenance. We should be back online shortly.</p>
    </content>

</body>
</html>
